PUBLIC_SITE_URL=https://www.chamostireco.com
PUBLIC_BUSINESS_NAME=Chamos Tire Co
PUBLIC_BUSINESS_PHONE=919-633-3720
PUBLIC_BUSINESS_PHONE_E164=+19196333720
PUBLIC_BUSINESS_PHONE_SCHEMA=+1-919-633-3720
PUBLIC_BUSINESS_EMAIL=chamostireco@gmail.com
PUBLIC_TURNSTILE_SITE_KEY=
PUBLIC_GOOGLE_SITE_VERIFICATION=
PUBLIC_GA_MEASUREMENT_ID=G-7K1HVRH35V
PUBLIC_SOCIAL_IMAGE=/images/chamos-tires-social-placeholder.svg
PUBLIC_BUSINESS_STREET_ADDRESS=
PUBLIC_BUSINESS_CITY=Apex
PUBLIC_BUSINESS_STATE=NC
PUBLIC_BUSINESS_ZIP=
PUBLIC_BUSINESS_COUNTRY=US
PUBLIC_BUSINESS_LATITUDE=
PUBLIC_BUSINESS_LONGITUDE=
PUBLIC_CUSTOMERS_VISIT_ADDRESS=false
PUBLIC_INSTALLATION_OFFERED=
PUBLIC_PRICE_RANGE=
PUBLIC_GOOGLE_BUSINESS_PROFILE_URL=
PUBLIC_GOOGLE_DIRECTIONS_URL=
PUBLIC_GOOGLE_REVIEW_URL=
PUBLIC_FACEBOOK_URL=https://www.facebook.com/profile.php?id=61569642455953
PUBLIC_INSTAGRAM_URL=

TURNSTILE_SECRET_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_NOTIFICATION_EMAIL=chamostireco@gmail.com
